<div class="navbar-default sidebar" role="navigation"> <div class="sidebar-nav navbar-collapse"> <!-- <treecontrol class="tree-boot" tree-model="treedata" options="opts" on-selection="showSelected(node)">
         {{node.label}}
         <span ng-switch="" on="node.type">
            <span ng-switch-when="folder" class="" aria-hidden="true"></span>
            <i ng-switch-when="folder" class="fa fa-plus-square pull-right" data-nodrag  ng-click="newSubItem(this)"></i>
         </span>
      </treecontrol> --> <!-- <ul class="nav in" id="side-menu">
          <sidebar-search></sidebar-search>
          <li ui-sref-active="active">
              <a ui-sref="dashboard.home"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
          </li>
          <li ui-sref-active="active">

              <a ui-sref="dashboard.chart"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span></span></a>

          </li>
          <li ui-sref-active="active">
              <a ui-sref="dashboard.table"><i class="fa fa-table fa-fw"></i> Tables</a>
          </li>
          <li ui-sref-active="active">
              <a ui-sref="dashboard.form"><i class="fa fa-edit fa-fw"></i> Forms</a>
          </li>
          <li ng-class="{active: collapseVar==1}">{{dropDown}}
              <a href="" ng-click="check(1)"><i class="fa fa-wrench fa-fw"></i> UI Elements<span
                      class="fa arrow"></span></a>
              <ul class="nav nav-second-level" collapse="collapseVar!=1">
                  <li ui-sref-active="active">
                      <a ui-sref="dashboard.panels-wells">Panels and Wells</a>
                  </li>
                  <li ui-sref-active="active">
                      <a ui-sref="dashboard.buttons">Buttons</a>
                  </li>
                  <li ui-sref-active="active">
                      <a ui-sref="dashboard.notifications">Notifications</a>
                  </li>
                  <li ui-sref-active="active">
                      <a ui-sref="dashboard.typography">Typography</a>
                  </li>
                  <li ui-sref-active="active">
                      <a ui-sref="dashboard.icons"> Icons</a>
                  </li>
                  <li ui-sref-active="active">
                      <a ui-sref="dashboard.grid">Grid</a>
                  </li>
              </ul>
          </li>
          <li ng-class="{active: collapseVar==2}">
              <a href="" ng-click="check(2)"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span
                      class="fa arrow"></span></a>
              <ul class="nav nav-second-level" collapse="collapseVar!=2">
                  <li>
                      <a href="">Second Level Item</a>
                  </li>
                  <li>
                      <a href="">Second Level Item</a>
                  </li>
                  <li ng-init="third=!third" ng-class="{active: multiCollapseVar==3}">
                      <a href="" ng-click="multiCheck(3)">Third Level <span class="fa arrow"></span></a>
                      <ul class="nav nav-third-level" collapse="multiCollapseVar!=3">
                          <li>
                              <a href="">Third Level Item</a>
                          </li>
                          <li>
                              <a href="">Third Level Item</a>
                          </li>
                          <li>
                              <a href="">Third Level Item</a>
                          </li>
                          <li>
                              <a href="">Third Level Item</a>
                          </li>

                      </ul>
                  </li>
              </ul>
          </li>
          <li ng-class="{active:collapseVar==4}">
              <a href="" ng-click="check(4)"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span
                      class="fa arrow"></span></a>
              <ul class="nav nav-second-level" collapse="collapseVar!=4">
                  <li ng-class="{active: selectedMenu=='blank'}">
                      <a ui-sref="dashboard.blank" ng-click="selectedMenu='blank'">Blank Page</a>
                  </li>
                  <li>
                      <a ui-sref="login">Login Page</a>
                  </li>
              </ul>
          </li>
      </ul> --> <ul class="nav in" id="side-menu"> <li ui-sref-active="active"> <a ui-sref="dashboard.doc"><i class="fa fa-file-word-o fa-fw"></i> Document<span></span></a> </li> <li ui-sref-active="active"> <a ui-sref="dashboard.files"><i class="fa fa-file-text-o fa-fw"></i> Files</a> </li> <li ui-sref-active="active"> <a ui-sref="dashboard.cat"><i class="fa fa-list fa-fw"></i> Category</a> </li> </ul> </div> <!-- /.sidebar-collapse --> </div>